{{define "content"}}
<div class="container">
  <span class="section-title">{{ .PageName }}</span>
  <hr>
  {{ if .PrimaryData.EnablePowerwall }}
  <table id="projectinfo" class="table table-striped table-hover custom-table" style="width:100%">
    <thead class="text-white bg-custom">
      <tr>
        <th>Site</th>
        <th>Load</th>
        <th>Solar</th>
        <th>Battery</th>
        <th>Battery %</th>
        <th>Exporting Solar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ .PowerwallInfo.Site.InstantPower | RoundFloat }} Watts</td>
        <td>{{ .PowerwallInfo.Load.InstantPower | RoundFloat }} Watts</td>
        <td>{{ .PowerwallInfo.Solar.InstantPower | RoundFloat }} Watts</td>
        <td>{{ .PowerwallInfo.Battery.InstantPower | RoundFloat }} Watts</td>
        <td>{{ .PowerwallBatteryInfo.Percentage | RoundFloat }} %</td>
        <td>{{ if .PowerwallInfo.Site.InstantPower | IsFloatNegative }}Yes{{ else }}No{{ end }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  {{ end }}
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <form id="controllersettings" action="/api/v1/powerwallsettings" method="post">
          <div class="card-body bg-custom-light">
            <div class="form-group">
              <label for="enablePowerwall">Enable Powerwall Monitoring</label>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="enablePowerwall" name="enablePowerwall"
                  {{ if .PrimaryData.EnablePowerwall }}checked{{ end }}>
                <label class="custom-control-label" for="enablePowerwall">Enabled</label>
              </div>
            </div>
            <div class="form-group">
              <label for="autoStartStopInterval">Auto Start/Stop on Interval Check</label>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="autoStartStopInterval"
                  name="autoStartStopInterval" {{ if .PrimaryData.AutoStartStopInterval }}checked{{ end }}>
                <label class="custom-control-label" for="autoStartStopInterval">Enabled</label>
              </div>
            </div>
            <div class="form-group">
              <label for="powerwall">Powerwall Address (Local)</label>
              <input type="text" class="form-control" name="powerwall" id="powerwall"
                placeholder="http://powerwall.local" value="{{ .PrimaryData.Powerwall }}">
            </div>
            <div class="form-group">
              <label for="powerwallCheckInterval">Check Interval (minutes)</label>
              <input type="number" class="form-control" name="powerwallCheckInterval" id="powerwallCheckInterval"
                placeholder="5" value="{{ .PrimaryData.PowerwallCheckInterval }}">
            </div>
            <div class="form-group">
              <label for="powerOffset">Power Offset (Watts)</label>
              <input type="number" class="form-control" name="powerOffset" id="powerOffset" placeholder="0"
                value="{{ .PrimaryData.PowerOffset }}">
            </div>
            <div class="form-group">
              <label for="powerOffsetAmps">Power Offset (Amps)</label>
              <input type="number" class="form-control" name="powerOffsetAmps" id="powerOffsetAmps" placeholder="0"
                value="">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-custom">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="alert alert-secondary bg-custom-light" role="alert">
        <p>If powerwall monitoring is enabled, the controller will periodically poll the powerwall to get the
          solar status.
        </p>
        <p>If you have defined a power offset in watts or amps, the controller will use this offset along with the solar
          being generated to calculate how many amps to charge at.
        </p>
        <p>
          This can be useful if your solar system doesn't generate enough power, or you are happy to accept a certain
          amount of additional power being consumed from the grid.
        </p>
        <p>
          For example, if your solar can generate a maximum 4000 Watts, but you are happy to accept 1000 Watts being
          drawn from the
          grid, then you could set 1000 Watts.
        </p>
        <p>
          This would mean that you would be able to charge to a maximum of 5000 Watts. If your solar was only generating
          1000 Watts, then the controller would say to charge with 2000 Watts
        </p>
      </div>
    </div>
  </div>
</div>
{{end}}