{{define "content"}}
<div class="container">
  <span class="section-title">{{ .PageName }}</span>
  <hr>
  <form id="controllersettings" action="/api/v1/settings" method="post">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body bg-custom-light">
            <span class="dashboard-section-title">Controller Settings</span>
            <hr>
            <div class="form-group">
              <label for="wiringMaxAmpsAllTWC">Maximum wiring amps</label>
              <input type="number" class="form-control" name="wiringMaxAmpsAllTWC" id="wiringMaxAmpsAllTWC"
                placeholder="32" value="{{ .PageData.WiringMaxAmpsAllTWC }}">
            </div>
            <div class="form-group">
              <label for="wiringMaxAmpsPerTWC">Maximum amps per Wall Connector</label>
              <input type="number" class="form-control" name="wiringMaxAmpsPerTWC" id="wiringMaxAmpsPerTWC"
                placeholder="32" value="{{ .PageData.WiringMaxAmpsPerTWC }}">
            </div>
            <div class="form-group">
              <label for="minAmpsPerTWC">Minimum amps per Wall Connector</label>
              <input type="number" class="form-control" name="minAmpsPerTWC" id="minAmpsPerTWC" placeholder="12"
                value="{{ .PageData.MinAmpsPerTWC }}">
            </div>
            <div class="form-group">
              <label for="supplyVoltage">Supply Voltage (100 to 260)</label>
              <input type="number" class="form-control" name="supplyVoltage" id="supplyVoltage" placeholder="1"
                value="{{ .PageData.SupplyVoltage }}">
            </div>
            <div class="form-group">
              <label for="supplyPhases">Supply Phases (1 or 3)</label>
              <input type="number" class="form-control" name="supplyPhases" id="supplyPhases" placeholder="1"
                value="{{ .PageData.SupplyPhases }}">
            </div>
            <div class="form-group">
              <label for="debugLevel">Debug Level</label>
              <input type="number" class="form-control" name="debugLevel" id="debugLevel" placeholder="1"
                value="{{ .PageData.DebugLevel }}">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-custom">Update</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="alert alert-secondary bg-custom-light" role="alert">
          <p>Maximum wiring amps is to ensure that the controller does not try to exceed the maximum rated amperage for
            your wiring.
          </p>
          <p>Maximum amps per Wall Connector is not currently in use, but reserved for future usage.</p>
          <p>Minimum amps per Wall Connector is used to set the minimum starting amperage when connecting a vehicle.</p>
          <p>Supply voltage and phases are used to convert a given wattage into charging amperage.
            <br>
            Example calculation is 240v * 1p * 6A = 1.44kW, or (240v * 3p) * 6A = 4.32kW</p>
        </div>
        <br>
        <div class="card">
          <div class="card-body bg-custom-light">
            <span class="dashboard-section-title">Device Settings</span>
            <hr>
            <div class="alert alert-info" role="alert">
              <span>Changing the following won't take effect until the controller is restarted</span>
            </div>
            <div class="form-group">
              <label for="devicePath">Device Path</label>
              <input type="text" class="form-control" name="devicePath" id="devicePath" placeholder="/dev/ttyUSB0"
                value="{{ .PageData.SerialConfig.DevicePath }}">
            </div>
            <div class="form-group">
              <label for="baudRate">Baud Rate</label>
              <input type="number" class="form-control" name="baudRate" id="baudRate" placeholder="1"
                value="{{ .PageData.SerialConfig.BaudRate }}">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-custom">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br>
</div>
{{end}}